<div class= "center-login">
  <img src="https://dudodiprj2sv7.cloudfront.net/product-logos/Mo/aC/9PT9T91J851F.JPEG">
  <button class="core-button core-button--lg core-button--primary">
      <div class="core-button__label">
        <%= link_to "Sign in with your Procore Account", student_google_oauth2_omniauth_authorize_path %>
      </div>
    </button>
</div>
