<div class="course-layout">
  <div class = "profile-bar">
    <img class="custom-avatar" src="https://mustafaabban.weebly.com/uploads/2/4/1/8/24184166/1382059297.png">
    <h1>Mustafa Abban</h1>
    <h2>Born and Raised LA. Lakers Baby!</h2>
  </div>
  <div class = "course-list">
    <body>
      <br> <br>
      <% @courses.map.each do |course| %>
      <justinandbryanforever :title = <%= course.name.to_json%> v-bind:link = <%=student_course_challenges_path(current_student.id, course.id).to_json%>></justinandbryanforever>
      <%end%>
    </body>
  </div>
</div>
