<!DOCTYPE html>
<div align="center">
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/vue-material.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/theme/default.css">
</head>

<body>
  <app> </app>
  <br> <br> <br>
  <img src="https://dudodiprj2sv7.cloudfront.net/product-logos/Mo/aC/9PT9T91J851F.JPEG" height="85" width="85">
  	<h1>ProcoreTutorials!</h1>
  	<br>
  	<% @challenges.each do |challenge| %>
		<h3><%= challenge.name %></h3>
	<% end %>
	
	<br><br>

  	<nini> </nini>
  	
</body>
</div>