/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
  max-width: 100vw;
}
.navbar{
  max-height:30vh;
  height: 80px;
  max-width: 100vw;
  background-color: orange;
}
.navbar .navbar-content{
  display: flex;
  justify-content: space-between;
  height: 100%;
}
#navbar-button{
  font-size: .1em;
}
.md-avatar.md-theme-default.md-avatar-icon{
  max-width:400px;
  min-width: 400px !important;
  width:100%;
  background-color: transparent !important;
  border-right: 1px solid black;
  border-radius: 0px !important;
}
.md-avatar img{
  width: 50%;
}
.md-progress-bar.md-theme-default.md-determinate .md-progress-bar-fill{
    background-color: #F47E42 !important;
  }
.md-progress-bar.md-theme-default.md-determinate{
    background-color: grey !important;
  }
