// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center-login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  button{
    text-align: center;
    padding: 30px;
    padding-top: 40px;
    padding-bottom: 45px;
    display:flex;
    border-radius: 8px;
  }
  a{
    text-decoration: none;
    font-size: 25px;
    color: white;
  }
}
